html {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}
body {
    color: #345434;
    background-color: currentColor;
    overflow-x: hidden;
}
button {
    background-color: white;
    color: currentColor;
}
nav {
    background-color: #121212;
}
.jumbotron {
    background-color: white;
    height: 100%;
    width: 80%;
    margin-top: 25%;
}
.pointer {
    cursor: pointer;
    cursor: hand;
}
button:focus {
    outline: none;
}

@media (min-width: 576px) and (max-width: 767px) {
    .jumbotron {
        margin-top: 17%;
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        margin-top: 13%;
        width: 60%
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron {
        margin-top: 11%;
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .jumbotron {
        margin-top: 10%;
        width: 40%;
    }
}

